<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Players</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>


<body>
    <%- include('./partials/navbar')%>
    <div class='container'><br>
        <div class="card">
            <div class="card-header">
                <h3>Player List</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Position</th>
                            <th scope="col">Current Club</th>
                            <th scope="col">Goals Scored</th>
                            <th scope="col">Fouls</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% players.forEach(player => {%>
                        <tr>
                            <th scope="row"><%= player.id%></th>
                            <td><a href="/players/player/<%= player.id%>"><%=player.name %></a></td>
                            <td><%=player.position.charAt(0).toUpperCase() + player.position.slice(1) %></td>
                            <% if (player.Club === null) {%>
                            <td>None</td>
                            <%} else {%>
                            <td><%=player.Club.name%></td>
                            <% }%>
                            <td><%= findGoals(player.get().MatchDetails, player.get().id)%></td>
                            <td><%= findFouls(player.get().MatchDetails, player.get().id)%></td>
                        </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>
<%- include('./partials/bootstrapJS.ejs')%>

</html>